/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

body {
  font-size: inherit;
}

h1, h2, h3 {
  letter-spacing: -0.01em;
}

h2 {
  font-size: 1.25rem;
}
